<p class='comment-body'>
  {{#if isEditing}}
    {{x-input value=model.body disabled=commitChanges.isRunning}}
    {{#if commitChanges.isIdle}}
      <button onclick={{perform commitChanges}}>Save</button>
    {{else}}
      {{#if isCancellable}}
        <button onclick={{perform cancelSave}}>Cancel</button>
      {{else}}
        TOO LATE!!!!
      {{/if}}
    {{/if}}
  {{else}}
    {{model.body}}
  {{/if}}
</p>

{{#if this.delete-comment}}
<span class="edit-indicator"
  onClick={{action (mut isEditing) true}}>
</span>
<span class="delete-indicator"
  onClick={{this.delete-comment}}>
</span>
{{/if}}

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}