<p class='comment-body'>
  {{#if isEditing}}
    {{x-textarea disabled=updateComment.isRunning value=model.body}}
    <button onClick={{action 'cancelEdit'}}>Cancel</button>
    {{#if updateComment.isIdle}}
    <button onClick={{perform updateComment}}>Save</button>
    {{/if}}
    
  {{else}}
    {{model.body}}
  {{/if}}
</p>

<span class="delete-indicator"
      onClick={{this.delete-comment}}>
</span>

<span class="edit-indicator"
      onClick={{action (mut isEditing) true}}>
</span>

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}